:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif; }

h1,
h2 {
  text-align: center;
  color: #fff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  background-position: center;
  line-height: 1.6;
  position: relative;
  font-family: "Bad Script", cursive;
  font-family: "Cinzel", serif;
  font-family: "Josefin Slab", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  border: 2px solid blue; }

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #054342; }

/*Width*/
::-webkit-scrollbar {
  width: 1.2px; }

/*Track*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #2d2c3b;
  border-radius: 10px; }

/*Handle*/
::-webkit-slider-thumb {
  background: #18eed9;
  border-radius: 80px; }

/*Handle on hover*/
::-webkit-slider-thumb:hover {
  background: #adabab; }

.overview__button {
  display: flex;
  flex-direction: row;
  border: 2px solid rebeccapurple; }
  .overview__button--resume {
    border: 2px solid pink;
    color: white;
    padding: 0 15px 0 15px;
    margin-right: 10px; }
  .overview__button--contact-me {
    border: 2px solid red;
    color: white;
    padding: 0 15px 0 15px; }

.overview {
  border: 2px solid pink;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .overview__title {
    border: 2px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px; }
  .overview__photo {
    border: 2px solid blue;
    width: 100px;
    height: 100px;
    margin: 20px; }
    .overview__photo--img {
      border: 2px solid red;
      width: 100%;
      height: 100%;
      text-align: center; }
