:root {
  // COLORS
  --color-brand-primary: hsl(var(--color-brand-primary-h), 96%, 11%);
  --color-brand-primary-h: 196;
  --color-brand-primary-s: 43%;
  --color-brand-primary-l: 43%;
  --color-brand-accent: hsl(var(--color-brand-accent-h), 100%, 71%);
  --color-brand-accent-h: 178;
  --color-brand-accent-s: 96%;
  --color-brand-accent-l: 61%;
  --color-brand-accent-bg: hsl(
    calc(var(--color-brand-accent-h) + 17),
    100%,
    96%
  );

  // TYPOGRAPHY
  --ratio: 1.4; // The ratio number
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: calc(1.05rem + 0.333vw);
  @include bp-sm {
    --s0: calc(1.25rem + 0.333vw);
  }
  @include bp-md {
    --s0: calc(1.4rem + 0.333vw);
  }
  @include bp-lg {
    --s0: calc(1.6rem + 0.333vw);
  }
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  font-size: 62.5%; // ~10px
  line-height: 1.6;
  box-sizing: border-box;
}

$color-primary: hsl(179, 86%, 14%);
$color-primary-light: #06a79b;
$color-secondary: hsl(174, 86%, 51%);
$color-secondary-dark: #50f8ed;
$color-secondary-light: #8dfaf1;
$color-grey: #777;
$color-grey-light: rgb(173, 171, 171);
$color-grey-dark: #333;

$color-white: #fff;
$color-black: #000;

$color-transparent: rgba(0, 0, 0, 0);

$default-font-size: 1.6rem;

$fa-font-path: "../../webfonts" !default;
