.overview {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 2rem;
  }

  &__photo {
    width: 15rem;
    height: 15rem;
    margin: 2rem 0 2rem 0;

    &--img {
      border: 2px solid red;
      height: 100%;
    }
  }
}
