.footer__navigation {
  border: 2px solid teal;
  display: flex;
  width: 100%;
  justify-content: center;

  &__list {
    border: 2px solid skyblue;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  &__item {
    border: 2px solid red;
    width: 50px;
    height: 10px;
  }

  &__link {
    border: 2px solid rosybrown;
  }
}

.copyright {
  border: 2px solid tan;
}
