.footer {
  display: flex;
  flex-direction: column;
  color: var(--color-brand-accent);
  text-align: center;
  padding-top: 10px;

  @include bp-sm {
    padding-top: 100px;
  }
  @include bp-md {
    padding-top: 50px;
  }

  @include bp-lg {
    padding-top: 170px;
  }

  &__btn {
    &--resume {
      &:hover,
      &:focus {
        animation: pulse 1s;
        box-shadow: 0 0 0 2em transparent;
      }
    }
    &--linkedin {
      &:hover,
      &:focus {
        animation: pulse 1s;
        box-shadow: 0 0 0 2em transparent;
      }
    }
  }

  &__copyright {
    padding-top: 10px;
    font-size: inherit;
  }
}
