*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  @include bp-md {
    font-size: 2.5rem;
  }

  font-family: "Avenir", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  background-color: white;
  min-height: 100vh;
}

@supports (font-variation-snextettings: normal) {
  body {
    font-family: Avenir Next, Avenir, system-ui, "Inter var", sans-serif;
  }
}

h2 span {
  color: var(--color-brand-accent);
  text-shadow: 0 2px 10px var(--color-brand-accent);
  @include bp-lg {
    font-size: 12rem;
  }
}

h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;

  li {
    list-style-type: none;

    &:before {
      content: "\200B"; /* add zero-width space */
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      position: absolute;
    }
  }
}
body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-primary);
  outline: 1px solid var(--color-brand-primary);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-brand-accent);
  outline: 1px solid var(--color-brand-accent);
}
